@font-face {
    font-family: "Press Start 2P";
    src: url("https://fonts.gstatic.com/s/pressstart2p/v13/e3t4euO8T-267oIAQAu6jDQyK5O8.ttf");
}

.root {
    -fx-background-color: transparent;
}

.label.leaderboard-rank,
.label.leaderboard-score,
.label.leaderboard-name {
    -fx-font-family: "System";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c2a2b;
}

.label.leaderboard-rank {
    -fx-alignment: CENTER_LEFT;
}

.label.leaderboard-score {
    -fx-text-fill: #423737;
}

.label.leaderboard-name {
    -fx-text-fill: #2d2a3e;
}
